<div id="divContacto">
    
    <h1>Solicitud de datos de contacto</h1>

    <p class="subtitulo">A continuación podrás solicitar los datos de contacto de los usuarios registrados que cursen o hayan cursado una especialidad que te interese:</p>
    
    
    Tu nombre y apellido:<input type="text" required id="nombreSolicitante"><br>
    Nombre de la persona a la que realizas la consulta:<input type="text" required id="nombreDestinatario"><br>
    Carrera, módulo o especialidad sobre la que realizas la consulta:<input type="text" id="especialidadDestinatario">
    <p>Describe brevemente sobre qué aspecto será la consulta:</p>
    <textarea rows="4" cols="40" placeholder="" id="motivo"></textarea><br>
    <input type="submit" value="Enviar datos" id="sendMessage" onclick="mensaje()">

</div>