<h1>Login de usuarios</h1>

<div class="logs">

    <div class="log1">       
        Email:<input type="text" id="logEmail" class="registro">
        Contraseña:<input type="text" id="logPassword" class="registro">
        <input type="submit" value="login" id="loginEmail" onclick="acceso()">
        <input type="submit" value="logout" id="logout" onclick="salir()">
        <p>¿olvidaste tu contraseña?</p><input type="submit" value="recuperarla" id="getPass" onclick="restablecerContraseña()">
    </div>

    <div class="log2">
        <button onclick="accesoGoogle()"><img src="./statics/img/googleLogo.png"> <span class="letra">Login con google</span></button>
    </div>

</div>